# Ignore wp-content by default (but include it as a directory)
!wp-content/
wp-content/*

# Ignore stock themes (but include our custom theme)
!wp-content/themes/
wp-content/themes/*

!wp-content/themes/justice-and-faith
!wp-content/themes/justice-and-faith-storefront

!wp-content/themes/storefront

# Ignore stock plugins (but include submodules provided for reference)
!wp-content/plugins
wp-content/plugins/index.php

!wp-content/plugins/woocommerce